<%- include("includes/head.ejs") %> 


<link rel="stylesheet" href="/style.css" />


<body>
    <h2>  Dice gave value :<%= diceVal %> </h2>

<%     if(diceVal ==6)   { %>
    <h2>Congratulations! You rolled a 6.</h2>
    <%      }    %>


</body>
</html>





